        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-color: #0f172a;
            color: #f8fafc;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        .card {
            background-color: #1e293b;
            padding: 4rem;
            border-radius: 15px;
            box-shadow: 0 10px 25px rgba(0,0,0,0.5);
            text-align: center;
            border: 1px solid #334155;
            max-width: 400px;
        }
        
        h1 { color: #e09027; margin-bottom: 10px; }
        p { line-height: 1.6; color: #94a3b8;}

        .botao {
            display: inline-block;
            margin-top: 20px;
            padding: 10px 20px;
            background-color: #38bdf8;
            color: #0f172a;
            text-decoration: none;
            border-radius: 5px;
            font-weight: bold;
            transition: 0.3s;
        }
        .botao:hover { background-color: #7dd3fc; }

        .profile-img {
            width: 150px;         /* Largura da imagem */
            height: 150px;        /* Altura da imagem */
            border-radius: 30%;   /* Isso faz a imagem ficar redonda */
            border: 3px solid #38bdf8; /* Uma bordinha azul para combinar */
            margin-bottom: 0.7rem;  /* Espaço entre a foto e seu nome */
            object-fit: cover;    /* Garante que a foto não fique esticada */
        }

        .links-container {
            display: flex;
            flex-direction: column; /*Coloca um botao embaixo do outro*/
            gap: 10px;
            margin-top: 20px;
        }

        .botao{
            padding: 14px;
            text-decoration: none;
            border-radius: 8px;
            font-weight: bold;
            color: white;
            transition: 0.3s;
        }

        .whatsapp {background-color: #23d366;}
        .linkedin {background-color: #0077b5;}
        .github {background-color: #333;}

        .botao:hover{
            filter: brightness(1);
            transform: translateY(-2px);
        }

        
        @media (max-width: 480px) {
            /* 1. Ajuste do Card */
            .card {
                padding: 1.5rem;
                max-width: 90%;
            }

            /* 2. Ajuste Geral dos Botões */
            .botao {
                display: block; /* Garante que o width 100% funcione melhor */
                width: 100%;    /* Ocupa toda a largura do card */
                box-sizing: border-box; /* Evita que o padding 'empurre' o botão para fora */
                margin-left: auto;
                margin-right: auto;
            }

            /* 3. Cores (não precisa repetir se já estão lá em cima, 
            mas se quiser mudar algo específico no celular, coloca aqui) */
            .whatsapp { background-color: #23d366; }
        }

        @keyframes entradaSuave {
            from {
                opacity: 0;
                transform: translateY(20px);
            }
            to {
                opacity: 1;
                transform: translateY(0px);
            }
        }

        .botao {
            animation: entradaSuave 0.8s ease-out;

        }

        .projetos {animation-delay: 0.2s;}
        .whatsapp {animation-delay: 0.4s;}
        .linkedin {animation-delay: 0.6s;}
        .github {animation-delay: 0.8s;}
